.Personnage {
    z-index: 2;
    display: flex;
    position: absolute;
    top: 0;
}

.Contenaire_Personnage {
    display: flex;
    position: relative;
    transition: opacity 1s ease;
}

.Contenaire_Personnage:hover .EmblemPath {
    display: none;
    opacity: 0;
}

.Contenaire_Personnage:hover .Emblem {
    display: flex;
    opacity: 100%;
    animation: Width 0.5s forwards;
}

.Contenaire_Personnage:hover .Name {
    animation: Apparition 0.5s forwards;
    animation-delay: 0.2s;
}

.Contenaire_Personnage:hover .Titre {
    animation: Apparition 0.5s forwards;
    animation-delay: 0.2s;
}

.Contenaire_Personnage:hover .Puissance {
    animation: Apparition 0.5s forwards;
    animation-delay: 0.2s;
}

.Contenaire_Personnage:hover .Stats {
    display: block;
    animation: Height 0.4s forwards;
    animation-delay: 0.3s;
}

.EmblemPath {
    display: flex;
    height: 65px;
    border-radius: 15px;
    margin: 10px;
}

.Emblem {
    display: none;
    position: relative;
    width: 0;
    height: 70px;
    margin: 10px;
    border-radius: 15px 15px 0px 0px;
    opacity: 100%;
    object-fit: cover;
    object-position: top left;
}

.Name {
    display: flex;
    opacity: 0%;
    position: absolute;
    color: white;
    top: -15px;
    margin-left: 80px;
    font-size: 22px;
}

.Titre {
    display: flex;
    opacity: 0%;
    position: absolute;
    color: rgb(255, 188, 249);
    top: 30px;
    font-style: italic;
    margin-left: 80px;
    font-size: 17px;
}

.Puissance {
    opacity: 0%;
    display: flex;
    position: absolute;
    color: rgb(255, 208, 0);
    top: -8px;
    margin-left: 280px;
    font-size: 20px;
}

.Stats {
    display: none;
    position: absolute;
    margin-top: 80px;
    margin-left: 10px;
    opacity: 1;
    background: rgba(63, 63, 63, 0.548);
    border-radius: 0px 0px 15px 15px;
    height: 0;
    width: 346px;
    text-align: start;
}

.Mobilite img,
.Resistance img,
.Recuperation img,
.Discipline img,
.Intelligence img,
.Force img {
    height: 20px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    opacity: 0;
    animation: Apparition 0.5s forwards;
    animation-delay: 0.6s;
}

.ContenaireBarre {
    position: absolute;
    margin-top: -23px;
    width: 250px;
    margin-left: 30px;
    opacity: 0;
    animation: Apparition 0.5s forwards;
    animation-delay: 0.6s;
}

.BarStat {
    position: absolute;
    height: 8px;
    background: white;
}

.bar {
    position: absolute;
    height: 8px;
    background: linear-gradient(45deg, rgba(0, 140, 255, 0.575), rgba(225, 0, 255, 0.575));
    width: 0%;
    animation: StatsProgression 1s forwards;
    animation-delay: 0.6s;
}

.bar p {
    position: relative;
    color: rgb(255, 255, 255);
    border-right: solid 2px rgba(225, 0, 255, 0.575);
    text-align: end;
    background-size: cover;
    margin-top: -7px;
}

.BarStat p {
    text-align: end;
    color: white;
    margin-top: -8px;
    margin-right: -60px;
}

.Vendors {
    z-index: 1;
    display: block;
    position: fixed;
    margin-top: 250px;
}

.Vendors h3 {
    color: white;
    font-size: 25px;
    font-family: sans-serif;
}

@keyframes StatsProgression {
    0% {
        width: 0;
    }

    100% {}
}

@keyframes Apparition {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes Height {
    0% {
        height: 0;
    }

    100% {
        height: 210px;
    }
}


@keyframes Width {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
        margin-bottom: 210px;
    }
}