.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}


.Contenaire_Conection{
  position: absolute;
  height: auto;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1{
  color: white;
  font-size: 25px;
}

.Button_01{
  padding: 10px;
  border-radius: 8px;
  background: linear-gradient(45deg ,rgb(0, 183, 255),rgb(247, 0, 255));
  color: white;
  font-size: 15px;
  border: none;
}


.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading-spinner1 {
  position: absolute;
  border-radius: 50%;
  border: 2px solid rgb(0, 132, 255);
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}
.loading-spinner2 {
  position: absolute;
  border-right: 6px solid rgb(247, 0, 255);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  filter: blur(2px);
  animation: spin 1s linear infinite;
}

.loadingH{
  margin-top: 230px;
  font-size: 20px;
}

.loadingP{
  position: absolute;
  margin-top: 320px;
  font-size: 15px;
  color: white;
}


.Personnage{
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  flex-direction: column;
  margin-left: 5px;
}

.Contenaire_Personnage{
  display: flex;
  position: relative;
  transition: opacity 1s ease;
}
.Contenaire_Personnage:hover .EmblemPath{
  opacity: 0;
}

.Contenaire_Personnage:hover .Emblem{
  opacity: 100%;
  animation: width  0.5s forwards;
}

.Contenaire_Personnage:hover .Name{
  animation: opacity 0.5s forwards;
  animation-delay: 0.2s;
}

.Contenaire_Personnage:hover .Titre{
  animation: opacity 0.5s forwards;
  animation-delay: 0.2s;
}

.Contenaire_Personnage:hover .Puissance{
  animation: opacity 0.5s forwards;
  animation-delay: 0.2s;
}

.Contenaire_Personnage:hover .Stats{
  display: block;
  animation: height 0.4s forwards;
}

.EmblemPath{
  display: flex;
  height: 65px;
  margin-top: 5px;
  border-radius: 15px;
}

.Emblem{
  position: relative;
  width: 0;
  height: 70px;
  left: -70px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 15px 15px 0px 0px ;
  opacity: 100%;
  object-fit: cover;
  object-position: top left;
}

.Name{
  display: flex;
  opacity: 0%;
  position: absolute;
  color: white;
  top: -15px;
  margin-left: 80px;
  font-size: 22px;
}

.Titre{
  display: flex;
  opacity: 0%;
  position: absolute;
  color: rgb(255, 188, 249);
  top: 30px;
  font-style: italic;
  margin-left: 80px;
  font-size: 17px;
}

.Puissance{
  opacity: 0%;
  display: flex;
  position: absolute;
  color: rgb(255, 208, 0);
  top: -8px;
  margin-left: 280px;
  font-size: 20px;
}

.Stats{
  display: none;
  position: absolute;
  z-index: -1;
  margin-top: 75px;
  opacity: 1;
  background: rgb(63, 63, 63);
  border-radius: 0px 0px 15px 15px;
  height: 0;
  width: 346px;
  text-align: start;
}


.Mobilite img, .Resistance img, .Recuperation img, .Discipline img, .Intelligence img, .Force img{
  height: 20px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  opacity: 0;
  animation: aparition 0.5s forwards;
  animation-delay: 0.2s;
}

.ContenaireBarre{
  position: absolute;
  margin-top: -23px;
  width: 250px;
  margin-left: 30px;
  opacity: 0;
  animation: aparition 0.5s forwards;
  animation-delay: 0.2s;
}

.BarStat{
  position: absolute;
  height: 8px;
  background: white;
}
.bar{
  position: absolute;
  height: 8px;
  background: linear-gradient(45deg ,rgba(0, 140, 255, 0.575), rgba(225, 0, 255, 0.575));
  width: 0%;
  animation: test 2s forwards;
}

.bar p{
  position: relative;
  color: rgb(255, 255, 255);
  border-right: solid 2px rgba(225, 0, 255, 0.575);
  text-align: end;
  background-size: cover;
  margin-top: -7px;
}

.BarStat p {
  text-align: end;
  color: white;
  margin-top: -8px;
  margin-right: -60px;
}

@keyframes test {
  0%{
    width: 0;
  }
  100%{
  }
}

@keyframes aparition {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes height{
  0%{
    height: 0;
  }
  100%{
    height: 210px;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes width {
  0%{
    width: 0;
  }
  100%{
    width: 100%;
    margin-bottom: 210px;
  }
}

@keyframes opacity {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}